:root {
    --color-primary: rgb(111, 111, 229);
    --color-white: rgb(243, 235, 235);
    --font-title: 'Fredoka One', sans-serif;
    --font-secondary: 'Signika', sans-serif;
}

body {
    margin: 0;
    background-color: var(--color-white);
}

h1 {
    margin: 0;
    font-family: var(--font-title);
    font-size: 2.5em;
    text-align: center;
    color: var(--color-primary);
    margin-bottom: .3em;
    margin-top: .3em;
}

.scoreboard {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 2em;
    align-items: center;
    margin-top: .1em;
    margin-bottom: .1em;
}

.year {
    font-family: var(--font-secondary);
    color: var(--color-primary);
    font-size: 1.2em;
    font-weight: bold;
}

.scoreboard>p {
    margin: 0;
}

.grid {
    margin: 0 auto;
    width: 280;
    height: 480;
    display: flex;
    flex-wrap: wrap;
    border: rgb(16, 15, 15) 2px solid;
    border-radius: 4px;

}

.square {
    width: 40px;
    height: 40px;
    border: 1.5px solid var(--color-white);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.2em;
    overflow: hidden;
}

.ocean {
    background-color: rgb(0, 0, 255, .3);
    border-radius: 4px;
}

.ocean-attack {
    background-color: rgb(223, 135, 135);
}

.tree,
.wall,
.house {
    background-color: rgb(0, 128, 0, .3);
    border-radius: 4px;
}

.beach,
.crane {
    background-color: rgba(128, 124, 0, 0.15);
    border-radius: 4px;
}

.border {
    border-radius: 4px;
}

.tree:hover,
.wall:hover,
.beach:hover {
    cursor: pointer;
}

.btn {
    margin: 0 auto;
    margin-top: 1em;
    justify-self: center;
    padding: 1em 2.5em;
    display: block;
}

.btn {
    padding: .75em 1.5em;
    border: 2px solid transparent;
    border-radius: 1em;
    background-color: var(--color-primary);
    color: var(--color-white);
    font-weight: 700;
    font-size: 1em;
    transition: ease-in .15s;
}

.btn:hover {
    cursor: pointer;
    color: var(--color-primary);
    background-color: var(--color-white);
    border: solid 2px var(--color-primary);
    transform: scale(1.05)
}


/* === ANIMATIONS ====*/
.ocean {
    animation:
        swing 2s linear 0s infinite none running;
}

@keyframes swing {
    0% {
        transform: translateX(0px)
    }

    50% {
        transform: translateX(2px);
    }

    100% {
        transform: translateX(0px)
    }
}

.new-ocean {
    animation-name: attack;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

@keyframes attack {
    0% {
        background-color: rgb(223, 135, 135);
    }

    100% {
        background-color: rgb(223, 135, 135, 0);
    }
}