h1 {
    text-align: center;
}

.grid {
    margin: 0 auto;
    margin-top: 1em;
    width: 280;
    height: 480;
    display: flex;
    flex-wrap: wrap;
    border:rgb(16, 15, 15) 2px solid;
    border-radius: 4px;
}

.grid > div {
    width: 40px;
    height: 40px;
    border: .5px solid white;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.2em;
}

.ocean {
    background-color: rgb(0, 0, 255, .3);
    border-radius: 4px;
}

.earth {
    background-color: rgb(0, 128, 0, .3);
    border-radius: 4px;
}

.beach {
    background-color: rgba(128, 124, 0, 0.3);
    border-radius: 4px;
}

.house {
    background-color: rgb(0, 128, 0, .3);
    border-radius: 4px;
}